body {
    overflow: hidden;
}

#index, #content {
    overflow-y: auto;
}

#content {
    padding: 10px;
}

#content .endpoint h2 {
    border-bottom: 2px solid grey;
}

#content .endpoint.deprecated h2 {
    text-decoration: line-through;
}

#content .endpoint h3 {
    border-bottom: 1px solid grey;
}

#content .endpoint .docs {
    margin-left: 10px;
}

#content .endpoint .docs table.table td {
    width: 25%;
}

#content .endpoint .description {
    padding: 10px;
    background: lightgray;
}

.h-90 {
    height: 90%
}

.w-20 {
    width: 20%;
}

.w-60 {
    width: 60%;
}