body {
    overflow: hidden;
}

#index, #content, #console {
    overflow-y: auto;
    padding: 10px;
}

#content {
    padding: 10px;
}

#content .endpoint h2 {
    border-bottom: 2px solid grey;
}

.list-group-item.deprecated {
    text-decoration: line-through;
}

#content .endpoint h3 {
    border-bottom: 1px solid grey;
}

#content .endpoint .docs {
    margin-left: 10px;
}

#content .endpoint .docs table.table td {
    width: 25%;
}

#content .endpoint .description {
    padding: 10px;
    background: lightgray;
}

#console .badge {
    font-size: 100%;
}

.h-90 {
    height: 90%
}

.w-10 {
    width: 10%
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-60 {
    width: 60%;
}