html {
    font-size: 0.9rem;
}

body {
    overflow: hidden;
}

code {
    font-size: 100%!important;
}

footer, header {
    overflow: hidden;
    padding: 10px;
}

footer p {
    margin: 0;
}

#app {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex: 1;
}

#content-wrapper {
    padding: 0;
    display: flex;
    overflow: hidden;
}

#index, #content, #console {
    overflow-y: auto;
    padding: 10px;
    flex: 1 1 100%;
}

#index {
    flex-basis: 15%;
    max-width: 15%;
    min-width: 15%;
}

#console {
    flex-basis: 40%;
    display: none;
}

#content .endpoint h2 {
    border-bottom: 2px solid grey;
}

.list-group-item.deprecated {
    text-decoration: line-through;
}

#content .endpoint h3 {
    border-bottom: 1px solid grey;
}

#content .endpoint .docs {
    margin-left: 10px;
}

#content .endpoint .docs table.table td {
    width: 25%;
    vertical-align: middle;
}

#console .badge {
    font-size: 100%;
}

.h-90 {
    height: 90%
}

.w-10 {
    width: 10%
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-60 {
    width: 60%;
}

.remove {
    color: red;
}

a i.fa {
    line-height: 34px;
}